@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");

li.nav-item a {
    text-transform: uppercase;
}

.dropdown-backdrop {
    position: static;
}

header div.jumbotron h1 {
    border-bottom: solid 3px #fff;
}
