{{ "<!-- Footer -->" | safeHTML}}
<footer id="footer" class="page-footer font-small blue-grey lighten-2 wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 py-5">
                <div class="d-flex justify-content-center align-items-center">
                    <a class="navbar-brand logo" href="{{ .Site.Params.baseURL }}"><img src="{{ .Site.Params.baseURL }}/img/{{ .Site.Params.Navigation.logo }}" alt="{{ .Title }}" title="{{ .Title }}"></a>
                </div>
            </div>

            <div class="col-12 col-md-4 py-5">
                <div class="d-flex justify-content-center align-items-center">
                    {{ range .Site.Params.footer.social }}
                    <a class="" title="{{ .label }}" href="{{ .url | safeHTML }}">
                            <span class="fab {{ .icon }} fa-lg black-text mr-md-5 mr-3 fa-2x"></span>
                        </a>
                    {{ end }}
                </div>
            </div>

            <div class="col-12 col-md-4 py-5">
                <div class="d-flex justify-content-center align-items-center">
                    <p>{{ .Site.Params.footer.year }}, <a class="font-bold" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC-NA-SA-4.0</a>, {{ .Site.Params.footer.copyright }}</p>
                    {{ range .Site.Params.footer.quicklinks}}
                        <p>{{ .text }} <a href="{{ .url | safeHTML }}">{{ .alt }}</a></p>
                    {{ end }}
                </div>
                <div class="d-flex justify-content-left align-items-left">
                    <p>{{ .Site.Params.footer.kvk_info }}</p>
                </div>
            </div>
        </div>

    </div>
</footer>
