<header>

    <!--Navbar-->
    <nav class="navbar fixed-top scrolling-navbar navbar-expand-lg navbar-light blue lighten-5">
    
    {{ if .Site.Params.logo }}
    <!-- Navbar brand  -->
      <a class="navbar-brand logo" href="/"><img src="{{ .Site.Params.baseURL }}/img/{{ .Site.Params.Navigation.logo }}" alt="{{ .Title }}" title="{{ .Title }}"></a>
    {{ end }}
    
      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
    
      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">
          <ul class="navbar-nav mr-auto">
                    {{ $currentPage := . }}
                    {{ range $index, $element := .Site.Menus.main }}
                        {{ if .HasChildren }}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-primary" href="#" id="dropdown{{$index}}" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">{{ .Pre }} {{ .Name }}</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown{{$index}}">
                                {{ range .Children }}
                                    <a class="dropdown-item text-primary" href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a>
                                {{ end }}
                                </div>
                            </li>
                        {{ else }}
                            <li class="nav-item">
                                <a class="nav-link font-bold" href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a>
                            </li>
                        {{ end }}
                    {{ end }}
    
          </ul>
          <!-- Links -->
    
      </div>
      <!-- Collapsible content -->
    
    </nav>
    <!--/.Navbar-->

    <!--Jumbotron-->
    <!-- taken from here: 
        https://stackoverflow.com/questions/51002011/jumbotron-bootstrap-4-image-opacity-but-not-text 
    -->
    <div class="jumbotron card card-image my-5" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{ .Site.Params.baseURL }}/img/banner.jpg);">
      <div class="text-white text-left py-5 px-4">
        <div class="py-5">
          <h1 class="pt-3 mb-3 font-bold"><strong>{{ .Site.Params.Banner.title }}</strong></h1>
          <p class="subtitle mb-5">{{ .Site.Params.Banner.subtitle }}          </p>
        </div>
      </div>
    </div>
    <!--./Jumbotron-->
</header>
