{{ $jquery := resources.Get "/js/jquery.min.js" }}
{{ $popper := resources.Get "/js/popper.min.js" }}
{{ $bootstrap := resources.Get "/js/bootstrap.min.js" }}
{{ $mdb := resources.Get "/js/mdb.min.js" }}
{{ $allscript := slice $jquery $popper $bootstrap $mdb | resources.Concat "/js/vendor.js" | minify | fingerprint "sha512" }}
<script src="{{ $allscript.RelPermalink }}" integrity="{{ $allscript.Data.Integrity }}"></script>


{{- range .Site.Params.js }}
    {{ $pagescript := resources.Get . | minify | fingerprint "sha512" }}
    <script src="{{ $pagescript.RelPermalink }}" integrity="{{ $pagescript.Data.Integrity }}"></script>
{{- end }}

{{- range .Params.js }}
    {{ $pagescript := resources.Get . | minify | fingerprint "sha512" }}
    <script src="{{ $pagescript.RelPermalink }}" integrity="{{ $pagescript.Data.Integrity }}"></script>
{{- end }}

{{ template "_internal/google_analytics_async.html" . }}
