<div class="container my-5 p-5 z-depth-1 wow fadeIn white">
    <section class="text-center dark-grey-text">
        <h2 class="font-weight-bold mb-2 pb-2 updates-title">Updates</h2>
    </section>

    {{ $pages := where .Site.Pages "Type" "news" }}
    {{ $pages := $pages | intersect (where .Site.Pages "Params.title" "!=" nil) }}

    <div class="row">
        {{ range ($pages.ByParam "lastmod").Reverse }}
        <div class="col-md-4 mb-4">
            <p class="grey-text mb-md-0">{{ .Content }}</p>
            <p class="grey-text updates-date">{{ dateFormat "Monday, 2 January 2006" .Params.lastmod }} at {{ dateFormat "15:04:05" .Params.lastmod }}</p>
        </div>
        {{ end }}
    </div>

</div>

