{{ define "main" }}

{{- partial "updates.html" . -}}

<hr class="extra-margins">

<div class="container p-5">
    <section class="text-center dark-grey-text">
        <h1 class="font-weight-bold mb-2 pb-2">Work</h1>
    </section>
</div>

<div class="container-fluid">
    {{ $pages := where .Site.Pages "Type" "projects" }}
    {{ $pages := $pages | intersect (where .Site.Pages "Params.title" "!=" nil) }}
    {{ range $pages.ByParam "lastmod" }}
    <div class="row">
        <div class="col-12 col-md-4 col-lg-6 no-padding">
            <div class="portfolio-content">
                <figure>
                    {{ range first 1 (.Resources.Match "images/*.png") }}
                    <img class="img-fluid" src="{{ .RelPermalink }}" alt="{{ .Title }}" />
                    {{ end }}
                </figure>
                <div class="entry-content d-flex flex-column align-items-center justify-content-center rgba-white-strong">
                    <h3><a href="{{ .RelPermalink }} " class="link">{{ .Title }}</a></h3>
                    <p class="grey-text">{{ .Params.tagline }}</p>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>


{{ end }}
